body{background-color: rgb(171, 241, 7); background-image: url(void/dark.jpeg); color: aliceblue; background-size: cover;
background-repeat: no-repeat; height: 100vh; text-align: center;
}
h1{
    font-size: 50px;
}
h2{
   
    margin-right: 1px;
    
}
button{
    margin:auto;
    padding: 10px;
    background-color: rgb(220, 6, 240);
    color: black;
    border: 3px black solid;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}